@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-blue{
    background-image:  linear-gradient(180deg, #264087 40%, #1B2557 100%);
}

.player-wrapper > div {
    width: 473px  !important; 
    height: 266px !important; 
  }
  
  .player-wrapper2 > div {
    width: 554px  !important; 
    height: 312px !important; 
  }
  
 
  @media (max-width:768px) {
    .player-wrapper > div {
      width: 280px !important;
      height: 157px !important;
    }

    .player-wrapper2 > div {
        width: 280px !important;
        height: 157px !important;
      }
  }